/* IMAGES *****************************************************/

img.alien {
  width: 75px;
  height: 75px;
  content: url("https://png.pngtree.com/png-vector/20210301/ourmid/pngtree-cute-alien-flying-with-spaceship-ufo-mascot-logo-png-image_2993557.jpg");
}

img.currentAlien {
  width: 200px;
  height: 200px;
  content: url("https://png.pngtree.com/png-vector/20210301/ourmid/pngtree-cute-alien-flying-with-spaceship-ufo-mascot-logo-png-image_2993557.jpg");
}

img.spaceship {
  width: 200px;
  height: 200px;
  content: url("https://png.pngtree.com/png-vector/20190130/ourmid/pngtree-astronauts-with-spaceships-exploring-space-can-use-commercial-elements-spacespaceshipastronautspacecraftweightless-statehand-png-image_587735.jpg");
}



/* SHARED STUFF *****************************************************************/

.mainContainer {
  display: flex;
  border: solid black;
} 

.displayArea {
  display: flex;
  justify-content: space-evenly;
  border: solid purple;
}

.healthDisplay {
  border: solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 35px;
  text-align: center;
  line-height: 100px;
  font-weight: 900;
}

.actionDisplay {
  border: solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 35px;
  text-align: center;
  line-height: 100px;
  font-weight: 900;
}



/* LEFT SIDE *********************************************************************/

.leftField {
  width: 40%;
  border: solid blue;
}

.spaceStation {
  border: solid red;
  background-color: black;
}

.textOutput {
  border: solid orange;
  height: 170px;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: "Courier New";
}

/* dispplay area left side (commons) */

.buttonArea {
  border: solid pink;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
}

button {
  height: 30px;
  font-weight: 900;
}

.gameButton {
  background-color: greenyellow;
}

.enemyButton {
  background-color: lightgray;
  color: gray;
}

.attackButton {
  background-color: lightgray;
  color: gray;
}



/* RIGHT SIDE *********************************************************************/

.rightField {
  border: solid green;
  width: 60%;
  display: flex;
}

.battleArea {
  border: solid purple;
  width: 70%;
}

.currentEnemy {
  border: solid mediumspringgreen;
  background-color: black;
  height: 339px;
  padding-top: 50px;
  padding-left: 20px;
}

/* display area right (commons) */

.alienField {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}

div.alien {
  border: solid greenyellow;
  margin: 5px;
}

.statsField {
  border: solid turquoise;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stats {
  border: solid darkblue;
  margin: 5px;
  width: 75px;
  height: 75px;
}

