/* IMAGES **********************************************************************/

img.alien {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  content: url("https://png.pngtree.com/png-vector/20210301/ourmid/pngtree-cute-alien-flying-with-spaceship-ufo-mascot-logo-png-image_2993557.jpg");
}

img.bigAlien {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: url("https://png.pngtree.com/png-vector/20210301/ourmid/pngtree-cute-alien-flying-with-spaceship-ufo-mascot-logo-png-image_2993557.jpg");
}

img.spaceship {
  width: 200px;
  height: 200px;
  content: url("https://png.pngtree.com/png-vector/20190130/ourmid/pngtree-astronauts-with-spaceships-exploring-space-can-use-commercial-elements-spacespaceshipastronautspacecraftweightless-statehand-png-image_587735.jpg");
}



/* SHARED STUFF *****************************************************************/

.mainContainer {
  display: flex;
  border: solid greenyellow;
  background-color: black;
  width: 750px;
  height: 575px;
} 

.displayArea {
  display: flex;
  justify-content: space-evenly;
  border: solid purple;
  height: 106px;
}

.displayWindow {
  border: solid black;
  background-color: white;
  width: 100px;
  height: 100px;
  font-size: 35px;
  text-align: center;
  line-height: 100px;
  font-weight: 900;
}



/* LEFT THIRD ************************************************************************/

.leftThird {
  width: 450px;
  border: solid blue;
}

.spaceStationArea {
  border: solid red;
  background-color: black;
  height: 366px;
}

.div.spaceStation {
  display: block;
}

.lossDeclaration {
  display: none;
}

/* .textOutput {
  border: solid orange;
  height: 150px;
  font-size: 11px;
  line-height: 15px;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: "Courier New";
} */

/* .displayArea.left under commons */

.buttonArea {
  border: solid pink;
  display: flex;
  padding: 25px;
  justify-content: space-evenly;
}

button {
  height: 30px;
  font-weight: 900;
}

button.active {
  background-color: greenyellow;
  color: black;
  font-weight: 900;
}

button.inactive {
  background-color: lightgray;
  color: gray;
  font-weight: 700;
}



/* MIDDLE THIRD *********************************************************************/

.middleThird {
  border: solid purple;
  width: 450px;
}

.battleArea {
  border: solid mediumspringgreen;
  background-color: black;
  height: 366px;
}

.currentlyFighting {
  width: 200px;
  height: 200px;
  margin: auto;
  border: solid red;
  display: none;
}

.winDeclaration { 
  width: 200px;
  height: 200px;
  margin: auto;
  border: solid red;
  display: none;
} 

/* .displayArea.right under commons*/



/* RIGHT THIRD ************************************************************************/


.rightThird {
  border: solid green;
  width: 250px;
  display: flex;
}

.alienField {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  padding: 5px;
}

div.alien {
  border: solid greenyellow;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

